In [14]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pickle
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn import svm, datasets
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import sklearn
from sklearn.model_selection import train_test_split
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
train_data1=pd.read_csv('/content/train (1).csv')
test_data1=pd.read_csv('/content/test (1).csv')

In [3]:
train_data=train_data1.fillna(0)
test_data=test_data1.fillna(0)

In [4]:
train_data

        id         a         b  ...         n         o           y
0     1433  1.051215  0.694597  ...  1.627670 -0.287624   54.769288
1     1844 -0.827997  0.398669  ... -0.062611  0.928272  -47.364309
2     2433 -0.155385  2.087505  ... -0.064192  1.250374  486.137500
3      736  2.800855 -2.293238  ... -0.121237  0.097107 -135.603260
4     4588 -0.727326 -0.661078  ...  1.670573 -1.498391 -189.366969
...    ...       ...       ...  ...       ...       ...         ...
3495  4993 -0.152975  0.825572  ... -0.157179 -0.332221  141.978713
3496  1167  0.245504  2.522942  ...  2.328272  0.233636  472.531391
3497  2625  1.061575 -0.302774  ... -0.121008 -0.541310   81.404549
3498  2570 -1.048860 -0.997733  ... -0.904001  0.371860   42.969778
3499  4319 -0.636745  1.610594  ...  1.068470  0.082079  177.600264

[3500 rows x 17 columns]

In [5]:
test_data

        id         a         b  ...         m         n         o
0     2604 -1.566097  0.530308  ...  0.708392 -0.403856 -0.076019
1     1022  1.096737 -1.451660  ...  0.231190 -0.109816 -0.807209
2     1317  1.508913  1.153763  ...  0.751847 -0.818114 -0.443337
3     4930  0.817544 -0.927481  ...  0.312228  0.172105 -0.213351
4     4666  0.467990 -3.065989  ...  1.259272  1.096178 -0.255657
...    ...       ...       ...  ...       ...       ...       ...
1495  1187  0.796953 -1.215250  ... -1.274390  1.162032  0.278274
1496  1768  0.062187 -0.049169  ...  1.210800 -1.041524 -0.844547
1497  1295  0.497745  1.164976  ... -1.016717 -0.005243  0.099763
1498  1858  2.776596 -0.669474  ... -0.066595  0.885965 -1.150266
1499  3912  0.848738  0.589443  ... -0.813718 -1.289712  1.058867

[1500 rows x 16 columns]

In [7]:
x = train_data[['a',"b", "c",'d','e','f','g','h','i','j','k','l','m','n','o']]
y = train_data[["y"]]

In [8]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2, random_state = 124)

In [15]:
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [17]:
model.score(x_test,y_test)

0.9999958980556157

In [24]:
sample_test=test_data[['a',"b", "c",'d','e','f','g','h','i','j','k','l','m','n','o']]

In [25]:
finaly=model.predict(sample_test)

In [26]:
finaly

array([[ 189.53502711],
       [-356.96395951],
       [ 426.7058821 ],
       ...,
       [ 114.17312017],
       [ 100.35617911],
       [-357.70730094]])

In [27]:
import numpy as np
  
ini_array1 = np.array(finaly)
  
# printing initial arrays
print("initial array", str(ini_array1))
  
# Multiplying arrays
result = ini_array1.flatten()
  
# printing result
print("New resulting array: ", result)

initial array [[ 189.53502711]
 [-356.96395951]
 [ 426.7058821 ]
 ...
 [ 114.17312017]
 [ 100.35617911]
 [-357.70730094]]
New resulting array:  [ 189.53502711 -356.96395951  426.7058821  ...  114.17312017  100.35617911
 -357.70730094]

In [28]:
data = {'id': test_data['id'],
        'y': result 
        }

df = pd.DataFrame(data)

print (df)

        id           y
0     2604  189.535027
1     1022 -356.963960
2     1317  426.705882
3     4930  253.355683
4     4666   37.285006
...    ...         ...
1495  1187 -367.800216
1496  1768  359.660087
1497  1295  114.173120
1498  1858  100.356179
1499  3912 -357.707301

[1500 rows x 2 columns]

In [29]:
df

        id           y
0     2604  189.535027
1     1022 -356.963960
2     1317  426.705882
3     4930  253.355683
4     4666   37.285006
...    ...         ...
1495  1187 -367.800216
1496  1768  359.660087
1497  1295  114.173120
1498  1858  100.356179
1499  3912 -357.707301

[1500 rows x 2 columns]

In [30]:
df.to_csv('file_name5.csv')

In [ ]:
nb=NaiveBayes.predict(sample_test1)

In [ ]:
data = {'id': test_data['id'],
        'i': nb
        }

df1 = pd.DataFrame(data)

print (df1)

        id  i
0      169  0
1     4022  0
2     4313  0
3     1052  0
4     1100  0
...    ... ..
1528   349  0
1529  1535  0
1530  2251  0
1531  3801  0
1532  4141  0

[1533 rows x 2 columns]

In [ ]:
df1

        id  i
0      169  0
1     4022  0
2     4313  0
3     1052  0
4     1100  0
...    ... ..
1528   349  0
1529  1535  0
1530  2251  0
1531  3801  0
1532  4141  0

[1533 rows x 2 columns]

In [ ]:
df1.to_csv('file_name1.csv')

In [ ]:
autoclassifier_irrigation_predction=classifier.AutoSklearnClassifier(time_left_for_this_task=180,per_run_time_limit=30)

In [ ]:
autoclassifier_irrigation_predction.fit(x_train,y_train)

[WARNING] [2021-12-23 16:59:35,197:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 1. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:38,485:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 2. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:41,133:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 3. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:43,244:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 4. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:47,925:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 5. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:51,022:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 6. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:54,976:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 7. Number of dummy models: 1
[WARNING] [2021-12-23 16:59:58,295:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 8. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:01,800:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 9. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:04,276:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 10. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:05,736:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 11. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:06,971:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 12. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:10,279:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 13. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:13,666:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 14. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:16,489:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 15. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:17,783:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 16. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:19,124:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 17. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:21,112:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 18. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:22,369:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 19. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:24,924:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 20. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:26,619:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 21. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:27,704:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 22. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:28,773:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 23. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:29,805:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 24. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:35,941:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 25. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:39,093:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 26. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:48,945:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 27. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:55,487:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 28. Number of dummy models: 1
[WARNING] [2021-12-23 17:00:56,810:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 29. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:05,669:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 30. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:14,279:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 31. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:15,671:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 32. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:18,323:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 33. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:19,694:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 34. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:29,901:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 35. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:37,847:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 36. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:46,386:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 37. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:49,650:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 38. Number of dummy models: 1
[WARNING] [2021-12-23 17:01:59,163:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 39. Number of dummy models: 1
[WARNING] [2021-12-23 17:02:11,437:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 40. Number of dummy models: 1
[WARNING] [2021-12-23 17:02:18,870:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 41. Number of dummy models: 1
[WARNING] [2021-12-23 17:02:21,183:Client-EnsembleBuilder] No models better than random - using Dummy loss!Number of models besides current dummy model: 41. Number of dummy models: 1

AutoSklearnClassifier(per_run_time_limit=30, time_left_for_this_task=180)

In [ ]:
autoclassifier_irrigation_predction.show_models()

"[(1.000000, MyDummyClassifier(config=1,\n                  init_params={'data_preprocessor:feat_type': {'b': 'numerical',\n                                                               'c': 'numerical',\n                                                               'd': 'numerical',\n                                                               'f': 'numerical',\n                                                               'g': 'numerical'},\n                               'instance': None},\n                  random_state=1)),\n]"

In [ ]:
autoclassifier_irrigation_predction.cv_results_['params'][np.argmax(autoclassifier_irrigation_predction.cv_results_['mean_test_score'])]

{'balancing:strategy': 'none',
 'classifier:__choice__': 'mlp',
 'classifier:mlp:activation': 'tanh',
 'classifier:mlp:alpha': 0.004046109807229298,
 'classifier:mlp:batch_size': 'auto',
 'classifier:mlp:beta_1': 0.9,
 'classifier:mlp:beta_2': 0.999,
 'classifier:mlp:early_stopping': 'train',
 'classifier:mlp:epsilon': 1e-08,
 'classifier:mlp:hidden_layer_depth': 3,
 'classifier:mlp:learning_rate_init': 0.00010292125690429162,
 'classifier:mlp:n_iter_no_change': 32,
 'classifier:mlp:num_nodes_per_layer': 17,
 'classifier:mlp:shuffle': 'True',
 'classifier:mlp:solver': 'adam',
 'classifier:mlp:tol': 0.0001,
 'data_preprocessor:__choice__': 'feature_type',
 'data_preprocessor:feature_type:categorical_transformer:categorical_encoding:__choice__': 'one_hot_encoding',
 'data_preprocessor:feature_type:categorical_transformer:category_coalescence:__choice__': 'no_coalescense',
 'data_preprocessor:feature_type:numerical_transformer:imputation:strategy': 'most_frequent',
 'data_preprocessor:feature_type:numerical_transformer:rescaling:__choice__': 'robust_scaler',
 'data_preprocessor:feature_type:numerical_transformer:rescaling:robust_scaler:q_max': 0.7682843015724665,
 'data_preprocessor:feature_type:numerical_transformer:rescaling:robust_scaler:q_min': 0.24100827636041275,
 'feature_preprocessor:__choice__': 'select_percentile_classification',
 'feature_preprocessor:select_percentile_classification:percentile': 88.26404179957224,
 'feature_preprocessor:select_percentile_classification:score_func': 'mutual_info'}

In [ ]:
finaly=autoclassifier_irrigation_predction.predict(sample_test)

In [ ]:
data = {'id': test_data['id'],
        'i': finaly
        }

df = pd.DataFrame(data)

print (df)

        id  i
0      169  0
1     4022  0
2     4313  0
3     1052  0
4     1100  0
...    ... ..
1528   349  0
1529  1535  0
1530  2251  0
1531  3801  0
1532  4141  0

[1533 rows x 2 columns]

In [ ]:
df.to_csv('file_name2.csv')