In [150]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pickle
from sklearn.model_selection import cross_val_score
from sklearn.svm import SVC
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn import svm, datasets
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
import sklearn
from sklearn.model_selection import train_test_split
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import classification_report
from sklearn import metrics

from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LogisticRegression

In [151]:
train_data1=pd.read_csv('/content/train (1).csv')
test_data1=pd.read_csv('/content/test (1).csv')

In [152]:
train_data=train_data1.fillna(0)
test_data=test_data1.fillna(0)

In [185]:
train_data

        id         a         b  ...         n         o           y
0     1433  1.051215  0.694597  ...  1.627670 -0.287624   54.769288
1     1844 -0.827997  0.398669  ... -0.062611  0.928272  -47.364309
2     2433 -0.155385  2.087505  ... -0.064192  1.250374  486.137500
3      736  2.800855 -2.293238  ... -0.121237  0.097107 -135.603260
4     4588 -0.727326 -0.661078  ...  1.670573 -1.498391 -189.366969
...    ...       ...       ...  ...       ...       ...         ...
3495  4993 -0.152975  0.825572  ... -0.157179 -0.332221  141.978713
3496  1167  0.245504  2.522942  ...  2.328272  0.233636  472.531391
3497  2625  1.061575 -0.302774  ... -0.121008 -0.541310   81.404549
3498  2570 -1.048860 -0.997733  ... -0.904001  0.371860   42.969778
3499  4319 -0.636745  1.610594  ...  1.068470  0.082079  177.600264

[3500 rows x 17 columns]

In [186]:
test_data

        id         a         b  ...         m         n         o
0     2604 -1.566097  0.530308  ...  0.708392 -0.403856 -0.076019
1     1022  1.096737 -1.451660  ...  0.231190 -0.109816 -0.807209
2     1317  1.508913  1.153763  ...  0.751847 -0.818114 -0.443337
3     4930  0.817544 -0.927481  ...  0.312228  0.172105 -0.213351
4     4666  0.467990 -3.065989  ...  1.259272  1.096178 -0.255657
...    ...       ...       ...  ...       ...       ...       ...
1495  1187  0.796953 -1.215250  ... -1.274390  1.162032  0.278274
1496  1768  0.062187 -0.049169  ...  1.210800 -1.041524 -0.844547
1497  1295  0.497745  1.164976  ... -1.016717 -0.005243  0.099763
1498  1858  2.776596 -0.669474  ... -0.066595  0.885965 -1.150266
1499  3912  0.848738  0.589443  ... -0.813718 -1.289712  1.058867

[1500 rows x 16 columns]

In [187]:
x = train_data[['a',"b", "c",'d','e','f','g','h','i','j','k','l','m','n','o','id']]
y = train_data[["y"]]

In [188]:
x_train, x_test, y_train, y_test = sklearn.model_selection.train_test_split(x, y, test_size=0.2, random_state = 124)

In [189]:
model=LinearRegression(fit_intercept=True, n_jobs=None, normalize=False)
model.fit(x_train,y_train)
model.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:155: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2. Please leave the normalize parameter to its default value to silence this warning. The default behavior of this estimator is to not do any normalization. If normalization is needed please use sklearn.preprocessing.StandardScaler instead.
  FutureWarning,

0.9999959014058234

In [184]:
model.score(x_test,y_test)

0.9999959014058234

In [159]:
sample_test=test_data[['a',"b", "c",'d','e','f','g','h','i','j','k','l','m','n','o','id']]

In [122]:
finaly=model.predict(sample_test)

In [123]:
finaly

array([[ 189.53559137],
       [-356.96817229],
       [ 426.70217814],
       ...,
       [ 114.17001582],
       [ 100.35422202],
       [-357.70338399]])

In [124]:
import numpy as np
  
ini_array1 = np.array(finaly)
  
# printing initial arrays
print("initial array", str(ini_array1))
  
# Multiplying arrays
result = ini_array1.flatten()
  
# printing result
print("New resulting array: ", result)

initial array [[ 189.53559137]
 [-356.96817229]
 [ 426.70217814]
 ...
 [ 114.17001582]
 [ 100.35422202]
 [-357.70338399]]
New resulting array:  [ 189.53559137 -356.96817229  426.70217814 ...  114.17001582  100.35422202
 -357.70338399]

In [125]:
data = {'id': test_data['id'],
        'y': result 
        }

df = pd.DataFrame(data)

print (df)

        id           y
0     2604  189.535591
1     1022 -356.968172
2     1317  426.702178
3     4930  253.362646
4     4666   37.291386
...    ...         ...
1495  1187 -367.803935
1496  1768  359.657634
1497  1295  114.170016
1498  1858  100.354222
1499  3912 -357.703384

[1500 rows x 2 columns]

In [126]:
df

        id           y
0     2604  189.535591
1     1022 -356.968172
2     1317  426.702178
3     4930  253.362646
4     4666   37.291386
...    ...         ...
1495  1187 -367.803935
1496  1768  359.657634
1497  1295  114.170016
1498  1858  100.354222
1499  3912 -357.703384

[1500 rows x 2 columns]

In [127]:
df.to_csv('file_name11.csv')

In [ ]:
regr_1 = DecisionTreeRegressor(max_depth=2)
regr_1.fit(x_train,y_train)

DecisionTreeRegressor(max_depth=2)

In [ ]:
regr_1.score(x_test,y_test)

0.2621028811838352

In [128]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.linear_model import LinearRegression
lin_regressor = LinearRegression()
poly_regressor = PolynomialFeatures(degree = 2)
X_poly = poly_regressor.fit_transform(x_train)
poly_regressor.fit(X_poly, y_train)
lin_reg_2 = LinearRegression()
lin_reg_2.fit(X_poly, y_train)

LinearRegression()

In [129]:
x_test_sample=poly_regressor.fit_transform(x_test)

In [130]:
lin_reg_2.score(x_test_sample,y_test)

0.9999956335760105

In [91]:
trans_x=poly_regressor.fit_transform(sample_test)

In [92]:
fin=lin_reg_2.predict(trans_x)

In [93]:
import numpy as np
  
ini_array1 = np.array(fin)
  
# printing initial arrays
print("initial array", str(ini_array1))
  
# Multiplying arrays
result = ini_array1.flatten()
  
# printing result
print("New resulting array: ", result)

initial array [[ 189.57751465]
 [-356.94946289]
 [ 426.62518311]
 ...
 [ 114.16125488]
 [ 100.26916504]
 [-357.74725342]]
New resulting array:  [ 189.57751465 -356.94946289  426.62518311 ...  114.16125488  100.26916504
 -357.74725342]

In [94]:
data = {'id': test_data['id'],
        'y': result 
        }

df = pd.DataFrame(data)

print (df)

        id           y
0     2604  189.577515
1     1022 -356.949463
2     1317  426.625183
3     4930  253.251038
4     4666   37.120972
...    ...         ...
1495  1187 -367.639038
1496  1768  359.743225
1497  1295  114.161255
1498  1858  100.269165
1499  3912 -357.747253

[1500 rows x 2 columns]

In [96]:
df.to_csv('file_name10.csv')

In [171]:
lr=LinearRegression()
lr.fit(x_train,y_train)

LinearRegression()

In [68]:
lr.score(x_test,y_test)

0.9999958980556157

In [172]:
# grid search linear regression model on the auto insurance dataset
from pandas import read_csv
from sklearn.linear_model import Ridge
from sklearn.model_selection import RepeatedKFold
from sklearn.model_selection import GridSearchCV
model = Ridge()
# define evaluation
cv = RepeatedKFold(n_splits=10, n_repeats=3, random_state=1)
# define search space
space = dict()
space['solver'] = ['svd', 'cholesky', 'lsqr', 'sag']
space['alpha'] = [1e-5, 1e-4, 1e-3, 1e-2, 1e-1, 1, 10, 100]
space['fit_intercept'] = [True, False]
space['normalize'] = [True, False]
# define search
search = GridSearchCV(model, space, scoring='neg_mean_absolute_error', n_jobs=-1, cv=cv)
# execute search
result = search.fit(x_train,y_train)
# summarize result
print('Best Score: %s' % result.best_score_)
print('Best Hyperparameters: %s' % result.best_params_)

Best Score: -0.4073724903228244
Best Hyperparameters: {'alpha': 0.1, 'fit_intercept': False, 'normalize': True, 'solver': 'svd'}

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

In [222]:
model1= Ridge(alpha= 0.1, fit_intercept=False, normalize= True, solver= 'svd')

In [223]:
model1.fit(x_train,y_train)
model1.score(x_test,y_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_base.py:145: FutureWarning: 'normalize' was deprecated in version 1.0 and will be removed in 1.2.
If you wish to scale the data, use Pipeline with a StandardScaler in a preprocessing stage. To reproduce the previous behavior:

from sklearn.pipeline import make_pipeline

model = make_pipeline(StandardScaler(with_mean=False), Ridge())

If you wish to pass a sample_weight parameter, you need to pass it as a fit parameter to each step of the pipeline as follows:

kwargs = {s[0] + '__sample_weight': sample_weight for s in model.steps}
model.fit(X, y, **kwargs)

Set parameter alpha to: original_alpha * n_samples.
  FutureWarning,

0.9999958982862512

In [207]:
model1.score(x_test,y_test)

0.9999958802480977

In [225]:
finaly=model1.predict(sample_test)

In [226]:
import numpy as np
  
ini_array1 = np.array(finaly)
  
# printing initial arrays
print("initial array", str(ini_array1))
  
# Multiplying arrays
result = ini_array1.flatten()
  
# printing result
print("New resulting array: ", result)

initial array [[ 189.53184321]
 [-356.94775369]
 [ 426.69427712]
 ...
 [ 114.17128354]
 [ 100.35533111]
 [-357.69109465]]
New resulting array:  [ 189.53184321 -356.94775369  426.69427712 ...  114.17128354  100.35533111
 -357.69109465]

In [227]:
data = {'id': test_data['id'],
        'y': result 
        }

df = pd.DataFrame(data)

print (df)

        id           y
0     2604  189.531843
1     1022 -356.947754
2     1317  426.694277
3     4930  253.349486
4     4666   37.285495
...    ...         ...
1495  1187 -367.783956
1496  1768  359.648738
1497  1295  114.171284
1498  1858  100.355331
1499  3912 -357.691095

[1500 rows x 2 columns]

In [228]:
df.to_csv('file_name12.csv')